body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack containers vertically */
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background-color: #EADAA2;
    font-family: 'Schoolbell';
  }

  #title-div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: .5em;
    font-family: 'Schoolbell';
    font-size: 1rem;
    color: #241E4E;
  }

  h1 {
    margin: 1px;
    padding: 0px;
  }
  
  #list-of-letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    flex-direction: row;
    font-family: 'Schoolbell';
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #241E4E;
    cursor: pointer;
    margin-left: .2em;
    margin-right: .2em;
  }

  h2 {
    margin: 0px;
  }

  .photo-container {
    max-width: 80%;
    border: 4px solid #241E4E;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px; 
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #word-div {
    display: none;
    padding: 0px;
  }

  #display-letter {
    display: none;
    margin: .5em;
  }

  .display-letter {
    font-size: 2.5em;
    border: 2px solid #241E4E;
    border-radius: 8px;
    color: #241E4E;
    background-color: #FFD046;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .centered-text {
    font-family: 'Schoolbell';
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0px;
  }

  
  .centered-photo {
    max-width: 100%;
    max-height: 25vh;
    padding: 0px;
    margin: 0px;
  }
  
  .text-container {
    text-align: center;

  }
  
  .centered-text {
    font-size: 2em; /* Adjust the font size as needed */
    margin: 10px 0; /* Adjust the margin as needed */
    color: #241E4E
  }

  #related-word-div {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .related-word-list {
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
.related-words {
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-left: .1em;
    margin-right: .1em;
    border: 2px solid #241E4E;
    border-radius: 8px;
    color: #241E4E;
    position: relative;
    background-color: #FFD046;
  }

  #form {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  .input {
    font-size: 1em;
    border: 3px solid #241E4E;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #EADAA2;
    color: #241E4E;
    font-family: 'Schoolbell';
  }

  .submit-button {
    font-size: 1em;
    font-family: 'Schoolbell';
    border-radius: 4px;
    margin-left: 4px;
    background-color:#241E4E;
    color: white;
    margin-bottom: 10px;
    }

    .submit-button:hover {
      background-color: #6FD08C; /* Change this color to the desired hover color */
      color: #241E4E; /* Change this color to the desired text color on hover */
  }

  .button-on-image {
      width: 30em; /* Adjust this value as needed */
      padding: 0.4375em;
      color: #241e4e;
      border: none;
      cursor: pointer;
      font-family: 'Schoolbell';
      font-size: 0.3em;
      border: 1px solid #241e4e;
      border-radius: 3px;
      position: absolute;
      bottom: 39%; /* Adjust this value as needed */
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      #list-of-letters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
        flex-direction: row;
        font-family: 'Schoolbell';
        list-style-type: none;
        font-weight: bold;
        font-size: 1.5rem;
        color: #241E4E;
        cursor: pointer;
        margin-top: .1em;
        margin-left: .5em;
        margin-right: .5em;
      }

      .button-on-image {
        width: 24vw; /* Adjust this value for screens between 320px and 480px */
        font-size: 0.05em; /* Adjust font size for screens between 320px and 480px */
        bottom: 37%; /* Adjust bottom margin for screens between 320px and 480px */
      }
      .delete-button {
        display: none;
      }
      .related-words {
        text-align: center;
        font-size: 1em;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: .1em;
        margin-right: .1em;
        border: 2px solid #241E4E;
        border-radius: 8px;
        color: #241E4E;
        position: relative;
        background-color: #FFD046;
      }
    }

    @media only screen and (max-width: 320px) {
      .button-on-image {
        width: 34vw; /* Adjust this value for screens between 320px and 480px */
        font-size: 0.1em; /* Adjust font size for screens between 320px and 480px */
        bottom: 29%; /* Adjust bottom margin for screens between 320px and 480px */
      }
      #list-of-letters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        flex-direction: row;
        font-family: 'Schoolbell';
        list-style-type: none;
        font-weight: bold;
        font-size: 1.5rem;
        color: #241E4E;
        cursor: pointer;
        margin-top: .5em;
        margin-left: .2em;
        margin-right: .2em;
      }
      .delete-button {
        display: none;
      }
      .related-words {
        text-align: center;
        font-size: 1em;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        margin-left: .1em;
        margin-right: .1em;
        border: 2px solid #241E4E;
        border-radius: 8px;
        color: #241E4E;
        position: relative;
        background-color: #FFD046;
      }
    }

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #a3333d;
  font-size: .5em;
  cursor: pointer;
}

.letter-list {
  font: 1em;
  padding: 0px;
  margin: 0px;
}
